<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Número de documento</ion-label>
    <ion-input [(ngModel)]="modelo.numero_documento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Primer nombre</ion-label>
    <ion-input [(ngModel)]="modelo.primer_nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Segundo nombre</ion-label>
    <ion-input [(ngModel)]="modelo.segundo_nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input [(ngModel)]="modelo.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input [(ngModel)]="modelo.direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="modelo.telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ciudad</ion-label>
    <ion-select [(ngModel)]="modelo.ciudad_id" placeholder="Seleccione">
      <ion-select-option [value]="ciudad.ciudad_id" *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" size="default" (click)="cancelar()">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="primary" size="default" (click)="enviarFormulario()">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  

</ion-content>
