<!-- Default back button -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asignaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button color="secondary" [routerLink]="['/asignacion/crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- List of Text Items -->
  <ion-list>

    <ion-item class="ion-padding-top" *ngFor="let elemento of listado">

      <div style="width: 100%;">

        <div class="placa">
          {{elemento.vehiculo.placa}}
          <span>{{elemento.vehiculo.tipo_vehiculo=='PAR'?'Particular':'Público'}}</span>
        </div>

        <div style="height: 100%;">
          <ion-label>Propietario: {{elemento.vehiculo.propietario.primer_nombre}}
            {{elemento.vehiculo.propietario.segundo_nombre}}
            {{elemento.vehiculo.propietario.apellidos}}</ion-label>
          <ion-label>Conductor: {{elemento.conductor.primer_nombre}} {{elemento.conductor.segundo_nombre}}
            {{elemento.conductor.apellidos}}</ion-label>

          <ion-grid>
            <ion-row>
              <ion-col>
                <!-- Icons -->
                <ion-button expand="block" fill="outline" color="danger" (click)="eliminar(elemento)">
                  <ion-icon slot="start" name="trash" color="danger"></ion-icon>
                  <!-- Eliminar -->
                </ion-button>
              </ion-col>
              <ion-col>
                <!-- Icons -->
                <ion-button expand="block" fill="outline" color="primary"
                  routerLink='/asignacion/editar/{{elemento.asignacion_id}}'>
                  <ion-icon slot="start" name="create" color="primary"></ion-icon>
                  <!-- Editar -->
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </div>



    </ion-item>

  </ion-list>

</ion-content>