<!-- Default back button -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge >
    <ion-fab-button color="secondary" [routerLink]="['/personas/crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- List of Text Items -->
  <ion-list class="list-persons">

    <ion-item class="person" *ngFor="let elemento of listado">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ion-align-items-center">
              <ion-icon name="contact"></ion-icon>
              {{elemento.primer_nombre}} {{elemento.segundo_nombre}} {{elemento.apellidos}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="ion-align-items-center">
              <ion-icon name="card"></ion-icon>
              {{elemento.numero_documento}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="ion-align-items-center">
              <ion-icon name="call"></ion-icon>
              {{elemento.telefono}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="ion-align-items-center">
              <ion-icon name="locate"></ion-icon>
              {{elemento.ciudad.nombre}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="ion-align-items-center">
              <ion-icon name="home"></ion-icon>
              {{elemento.direccion}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row >
          <!-- <ion-col>
            <ion-button expand="block" fill="outline" color="danger" (click)="eliminar(elemento)">
              <ion-icon slot="start" name="trash" color="danger"></ion-icon>
              Eliminar
            </ion-button>
          </ion-col> -->
          <ion-col>
            <!-- Icons -->
            <ion-button expand="block" fill="outline" color="primary" routerLink='/personas/editar/{{elemento.persona_id}}'>
              <ion-icon slot="start" name="create" color="primary"></ion-icon>
              Editar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>


  </ion-list>


</ion-content>
