<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear asignación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Vehículo</ion-label>
    <ion-select [(ngModel)]="modelo.vehiculo_id" placeholder="Seleccione">
      <ion-select-option [value]="vehiculo.vehiculo_id" *ngFor="let vehiculo of vehiculos">{{vehiculo.placa}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Conductor</ion-label>
    <ion-select [(ngModel)]="modelo.conductor_id" placeholder="Seleccione">
      <ion-select-option [value]="persona.persona_id" *ngFor="let persona of personas">{{persona.primer_nombre}}
        {{persona.apellidos}}
      </ion-select-option>
    </ion-select>

  </ion-item>



  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" size="default" (click)="cancelar()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" size="default" (click)="enviarFormulario()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>