<!-- Default back button -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button color="secondary" [routerLink]="['/vehiculos/crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!-- List of Text Items -->
  <ion-list>

    <ion-item class="ion-padding-top" *ngFor="let elemento of listado">

      <div class="ion-margin-end">

        <div class="placa">
          {{elemento.placa}}
          <span>{{elemento.tipo_vehiculo=='PAR'?'Particular':'Público'}}</span>
        </div>


      </div>

      <div style="height: 100%; width: 100%;">
        <ion-grid>
          <ion-row>
            <ion-col>
              {{elemento.propietario.primer_nombre}} {{elemento.propietario.segundo_nombre}}
              {{elemento.propietario.apellidos}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              {{elemento.marca}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              {{elemento.color}}
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col>
              <ion-button expand="block" fill="outline" color="danger" (click)="eliminar(elemento)">
                <ion-icon slot="start" name="trash" color="danger"></ion-icon>
                Eliminar
              </ion-button>
            </ion-col> -->
            <ion-col>
              <!-- Icons -->
              <ion-button expand="block" fill="outline" color="primary"
                routerLink='/vehiculos/editar/{{elemento.vehiculo_id}}'>
                <ion-icon slot="start" name="create" color="primary"></ion-icon>
                <!-- Editar -->
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

    </ion-item>

  </ion-list>

</ion-content>