.placa {
    font-size: 1.8rem;
    border: 1px solid black;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: yellow;
    flex-direction: column;

    span {
        font-size: 0.765rem;
    }
}