<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Kanguro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-home" >
    <ion-item [routerLink]="elemento.ruta" *ngFor="let elemento of datos">
      <ion-icon [name]="elemento.icono" color="dark"></ion-icon>
      <div class="ion-justify-content-center">
        <p>{{elemento.cantidad}}</p>
        <h3>{{elemento.titulo}}</h3>
      </div>
    </ion-item>
    <!-- <ion-item [routerLink]="['/personas']">
      <ion-icon name="people" color="dark"></ion-icon>
      <div class="ion-justify-content-center">
        <p>10</p>
        <h3>Personas</h3>
      </div>
    </ion-item>
    <ion-item [routerLink]="['/asignacion']">
      <ion-icon name="clipboard" color="dark"></ion-icon>
      <div class="ion-justify-content-center">
        <p>6</p>
        <h3>Asignaciones</h3>
      </div>
    </ion-item> -->
  </ion-list>
</ion-content>
