
.list-home{
    ion-icon{
        font-size: 8rem;
    }

    .ion-justify-content-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p{
            font-size: 2.2rem;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
        }
        h3{
            margin-top: 0;
        }
    }
}