<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Propietario</ion-label>
    <ion-select [(ngModel)]="modelo.propietario_id" placeholder="Seleccione">
      <ion-select-option [value]="persona.persona_id" *ngFor="let persona of personas">{{persona.primer_nombre}}
        {{persona.apellidos}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tipo</ion-label>
    <ion-select [(ngModel)]="modelo.tipo_vehiculo" placeholder="Seleccione">
      <ion-select-option [value]="tipo.tipo_id" *ngFor="let tipo of tipos">{{tipo.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Placa</ion-label>
    <ion-input [(ngModel)]="modelo.placa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Color</ion-label>
    <ion-input [(ngModel)]="modelo.color"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Marca</ion-label>
    <ion-input [(ngModel)]="modelo.marca"></ion-input>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" size="default" (click)="cancelar()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" size="default" (click)="actualizar()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>